<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>TextTemplate</title>
<link rel="stylesheet" href="../../StyleSheet.css">
</head>

<body>
	
	<div class="backgroundElements">
		<div class="top">
		<img src="../../SelectionScreen/SVG/Asset 3.svg" class="TitleBar">
		<img src="../../SelectionScreen/SVG/Asset 5.svg" class="Title">
		<h1 style="color:#f6bb93; font-size: 2vw; text-align: center; font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif'" class="Filename">Empty Container</h1>
		</div>
	</div>
</body>
</html>
